.container {
  width: 400px;
  margin: 50px auto 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  background-color: #f8f8f8;
  border-radius: 8px;
}

.error-message {
  color: red;
  margin: 0;
  display: none;
}

.active {
  display: block;
}

.form {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 16px;

  & button {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
  }

  & button:hover {
    background-color: #ccc;
  }

  & input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 18px;
  }
}

.hello {
  font-size: 24px;
  margin: 0;
}

.name {
  font-weight: bold;
}

.form-logout {
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
  height: 20px;
  margin-top: 20px;

  & button {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
  }
}
